.result .ui-datepicker-calendar .ui-datepicker-week-end  a{
    background: yellow;
}

.result .ui-datepicker-calendar .ui-state-default{
    background: lightgreen;
}

.result .ui-datepicker-calendar .ui-datepicker-unselectable{
 background: gray;
 opacity: 1;
}

.result .ui-datepicker-calendar .ui-datepicker-unselectable span{
    background: gray;
    color: gray;
}

.result .ui-datepicker-calendar .ui-state-default a{
    color: white;
}

.error{
    display: none;
    color: red;
}

.ui-datepicker{
    max-width: 100%;
    border: none;
}

.ui-datepicker-inline, .ui-datepicker-group{
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.ui-datepicker-multi-2 .ui-datepicker-group{
    width: 100%;
}

.result{
    margin-top: 20px;
}

.ui-widget.ui-widget-content{
    border: none;
}

#country{
    text-transform: uppercase;
}